# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ML_OpenGL/x64/Debug
/ML_OpenGL/x64/Debug
/.vs
/ML_OpenGL/x64
x64/Debug/ML_OpenGL.pdb
*.json
*.db
*.vsidx
.vs/ML_OpengGL/FileContentIndex/06d6ee38-89a1-4cdd-9cee-e0a17f48e0f6.vsidx
.vs/ML_OpengGL/FileContentIndex/54f91f41-94e2-43e8-9bff-be6d1ef72e00.vsidx
.vs/ML_OpengGL/FileContentIndex/7267bbaf-696c-4638-9d57-bf329034ab1d.vsidx
.vs/ML_OpengGL/FileContentIndex/ae60b89b-30d3-4abc-99b3-6af5545a39cb.vsidx
.vs/ML_OpengGL/FileContentIndex/f08b528f-448c-4d27-95c6-91b85be47f87.vsidx
.vs/ML_OpengGL/v17/.suo
.vs/ML_OpengGL/v17/Browse.VC.db
.vs/ML_OpengGL/v17/DocumentLayout.json
*.log
*.recipe
*.ilk
*.log
*.tlog
*.tlog
*.tlog
